@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-body-color: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
}

body {
  background-color: var(--bg-body-color);
  color: var(--text);
  font-family: "Nunito Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}

.first-head {
  background-color: var(--elements);
  padding: 20px 0;
  box-shadow: 0px 1px 5px 0px #00000052;
}

.first-head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-head .container h1 {
  font-size: 26px;
}

.first-head .container .theme {
  all: unset;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 767px) {
  .first-head .container h1 {
    font-size: 18px;
  }

  .first-head .container .theme {
    font-size: 15px;
  }
}
